body {
  background-color: #f8f8f3;
  font-family: "Montserrat", sans-serif;
}

.btn-primary {
  background-color: #604497;
  border-color: #604497;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: bold;
}
.btn-primary:hover {
  background-color: #3c2073;
  border-color: #3c2073;
}

#header {
  background-image: linear-gradient(to right, #ef8d1d, #f6de4f);
}

.breadcrumb-item + .breadcrumb-item::before,
.breadcrumb-item.active {
  color: #000000;
  font-weight: bold;
}