$scftaPurple: #604497;
$darkPurple: #3c2073;

body {
    background-color: #f8f8f3;
    font-family: "Montserrat", sans-serif;
}

.btn-primary {
    background-color: $scftaPurple;
    border-color: $scftaPurple;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: bold;
    &:hover {
        background-color: $darkPurple;
        border-color: $darkPurple;
    }
}

/* Side Nav + Main Content Flex Styles Start */
#side-nav-and-content-container {
    display: flex;
    /* justify-content: space-around; */
    padding: 0;
}

#side-nav {
    width:100px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    text-align: center;
}

#main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

@media only screen and (max-width: 992px) {
    #side-nav-and-content-container {
        flex-direction: column;
    }

    #side-nav {
        width:100%;
    }

    #side-nav-ul {
        display: flex;
    }
}
/* Side Nav + Main Content Flex Styles End */

#header {
    background-image: linear-gradient(to right, #ef8d1d , #f6de4f);
}

.breadcrumb-item+.breadcrumb-item::before,
.breadcrumb-item.active {
    color: #000000;
    font-weight: bold;
}

.accordion-button,
.accordion-button:not(.collapsed) {
    background-color: #ecece4;
    color: #000000;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button::before {
    content: "\f067";  /* this is your text. You can also use UTF-8 character codes as I do here */
    font-family: FontAwesome;
    padding-right: 5px;
}

.accordion-button::after {
   display: none;
}

.show-links-purple {
    color:$scftaPurple;
}