$scftaPurple: #604497;
$darkPurple: #3c2073;

body {
    background-color: #f8f8f3;
    font-family: "Montserrat", sans-serif;
}

.btn-primary {
    background-color: $scftaPurple;
    border-color: $scftaPurple;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: bold;
    &:hover {
        background-color: $darkPurple;
        border-color: $darkPurple;
    }
}

/* Side Nav + Main Content Flex Styles Start */
#side-nav-and-content-container {
    display: flex;
    padding: 0;
}

#side-nav {
    width: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.nav-item {
    margin: 10px 0;
    font-size: 24px;
}

#side-nav-logo {
    height: 67px;
    width: 53px;
}

#sign-in-side-nav-item {
    font-size: 10px;
}

#main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

@media only screen and (max-width: 992px) {
    #side-nav-and-content-container {
        flex-direction: column;
    }

    #side-nav {
        width:100%;
    }

    #side-nav-ul {
        display: flex;
    }
}
/* Side Nav + Main Content Flex Styles End */

#alert-text {
    color: #dac444;
}

#alert-x {
    position: absolute;
    top: 0;
    right: 0;
    padding: 16px;
    border: none;
    color: #999999;
    background-color: #000000;
}

#header {
    background-image: linear-gradient(to right, #ef8d1d , #f6de4f);
}

.breadcrumb-item+.breadcrumb-item::before,
.breadcrumb-item.active {
    color: #000000;
    font-weight: bold;
}

.accordion-item {
    border: none;
}

.accordion-button,
.accordion-button:not(.collapsed) {
    background-color: #ecece4;
    color: #000000;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button::after {
   display: none;
}

.show-links-purple {
    color:$scftaPurple;
    &:hover {
        color: $darkPurple;
    }
}

.cabaret-series-border {
    border-right: #c8c9ca 1px solid;
}

@media only screen and (max-width: 768px) {
    .cabaret-series-border {
        border-right: none;
        border-bottom: #c8c9ca 1px solid;
    }
}